<a href="https://colab.research.google.com/github/Alyssonj/Python/blob/main/B%C3%A1sico01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Primeiro código
print('Olá amigos!')

Olá amigos!

In [ ]:
# Operadores para Cálculos
4 + 4

8

In [ ]:
Soma = 1 + 2
Subtracao = 1 - 1

print('Soma:',Soma)
print('Subtração:',Subtracao)
print('Subtracao: {}, {}'.format(Subtracao, Subtracao))

Soma: 3
Subtração: 0
Subtracao: 0, 0

In [ ]:
# Tipos de Variáveis
#Inteiro
Inteiro_01 = 100
Inteiro_02 = int(100)

#Flutuante
Flutuante_01 = 10.09
Flutuante_02 = float(10.09)

#Strings (Palavras ou frases)
Palavra_01 = 'Qualquer coisa'
Palavra_02 = str("Qualquer coisa")

#Boleanos
Booleano_01 = True
Booleano_02 = False

#Tipos de Dados
#Listas
Listas_01 = [1,2,3,4,5]
Listas_02 = ['Nome','Palavras']
Listas_03 = [1,'Palavras',True]

#Tuplas (São imutaveis --> Ela nunca vai mudar)
Tupla_01 = (1,2,3,4)
Tupla_02 = ('Palavras',2,True)

#Dicionários
Dicionario = {
    'Index':'Alguma coisa',
    'Index_02':100,
    'Index_03':True,
    'Qualquer Index':'Qualquer valor',
    'Lista aqui dentro':Listas_01,
    'Tupla':Tupla_01
    }

print(Dicionario)

#Nomear Variáveis
#Multiplos Valores
A,B,C, = 1,2,50

print(A,B,C)

{'Index': 'Alguma coisa', 'Index_02': 100, 'Index_03': True, 'Qualquer Index': 'Qualquer valor', 'Lista aqui dentro': [1, 2, 3, 4, 5], 'Tupla': (1, 2, 3, 4)}
1 2 50

In [ ]:
#Nomear Variáveis 2
Morango = Uva = Kiwi = 1000
print(Morango,Uva,Kiwi)

#Nomear Variáveis 3
Carros = ['VW','GM','FORD']
Marca_01, Marca_02, Marca_03 = Carros
print(Marca_02)

#Combinar Variáveis
Nome = 'Alysson'
Sobrenome = 'Jose'
Nome_Completo = Nome +' '+ Sobrenome

print(Nome_Completo)

#Combinar Variáveis 2
Dolar = float(5.40)
Imposto = 0.2

Valor_Líquido = Dolar - (Dolar * Imposto)
print(Valor_Líquido)

#Comando 'Type'
A = 1
B = 2.9
C = 'Olá'
D = [1,2,3]
E = (1,2,3)
F = {'CPF':123456789}
G = False

print(type(A))
print(type(B))
print(type(C))
print(type(D))
print(type(E))
print(type(F))
print(type(G))

In [ ]:
#Comando 'Round' --> Arredondar Valores
Valor_Exemplo = 12.12343455346
print(round(Valor_Exemplo,2))

#Comando 'Input' --> Enviar Informações
Nome = input('Qual seu nome?')
print('Meu nome é {}'.format(Nome))

In [ ]:
#Operadores de Comparação 1
Igual = '=='
Diferente = '!='
Maior = '>'
Menor = '<'
Maior_Igual = '>='
Menor_Igual = '>='


print('1:',8>7)
print('1:',8<7)
print('1:',8==8)
print('1:',8!=8)

#Operadores de Comparação 2
And = 'e'
Ou = 'Or'
Negacao = 'Not'
Dentro = 'in'

print('2:', 8>6 and 7<6)
print('2:', 8>6 and 7>6)
print('2:', 8>6 or 7<6)
print('2:', 8 not in [8,9,10])
print('2:', 8 in [8,9,10])

In [ ]:
#Manipular Listas
Lista_Vazia = []
print(Lista_Vazia)
Lista_Vazia.append(1)
Lista_Vazia.append('Alysson')
Lista_Vazia.append(False)
Lista_Vazia.append(True)

print('Depois:',Lista_Vazia)
print('Depois:',Lista_Vazia[0])
print('Depois:',Lista_Vazia[2])
print('Depois:',Lista_Vazia[-1])
print('Depois:',Lista_Vazia[0:2])

#Excluir Valores e Limpar Lista
del Lista_Vazia[-1]
print(Lista_Vazia)
print(Lista_Vazia.clear())

[]
Depois: [1, 'Alysson', False, True]
Depois: 1
Depois: False
Depois: True
Depois: [1, 'Alysson']
[1, 'Alysson', False]
None

In [ ]:
#Manipular Listas
Lista_Vazia = []
print(Lista_Vazia)
Lista_Vazia.append(1)

[]

In [ ]:
#Utilizando Funções Externas (Libs, Frameworks, Bibliotecas, Funções)
from datetime import datetime as dt
Data = '16/11/21'
Conversao = dt.strptime(Data,'%d/%m/%y')
print(type(Data))
print(type(Conversao))

<class 'str'>
<class 'datetime.datetime'>

In [ ]:
#Metodo Len
#Calcula o tamanho de algo

Exemplo = [1,2,3,4,5,6,'Alysson',True]
print(len(Exemplo))

8

In [ ]:
#Instalar Pacotes Externos
pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly) (1.3.3)

In [ ]:
#Exercício 1
#IMC (Peso/Altura*Altura)

IMC = round(50/(1.60*1.60),2)
print('IMC:{}'.format(IMC))

IMC:19.53

In [ ]:
#Exercício 2
#Juros Simples

Taxa_Juros = 0.05
Investimento = 1000

Ganhar = Investimento + (Investimento * Taxa_Juros)
print('Todo:',Ganhar)
print('Juros:',(Ganhar - Investimento))

Todo: 1050.0
Juros: 50.0

In [ ]:
#Exercício 3
#Sistema de Soma

Valor1 = int(input('Digite Valor:'))
Valor2 = int(input('Digite Valor:'))

Soma = Valor1 + Valor2
print('Igual:',Soma)

Digite Valor:15
Digite Valor:33
Igual: 48

In [ ]:
# 4º Exercício
# Criando uma Data

# Inputar os valores
Dia = int( input('Qual o dia: '))
Mes = int( input('Qual o mês: '))
Ano = int( input('Qual o ano: '))

# Consolidando as data
Data = str(Dia) + '/' + str(Mes) + '/' + str(Ano)
Converter = datetime.strptime(Data, '%d/%m/%y')

print( 'Data convertida{}' .format(Converter) )

In [ ]:
# 5º Exercício
# Calculando o metro quadrado

Altura = int( input('Qual a altura: '))
Largura = int( input('Qual a largura: '))
Quadrado = Altura * Largura

print('São: {} metros quadrados' .format(Quadrado) )

In [ ]:
# 6º Exercício
# verifique se o usuário é maior de idade

Idade = int( input('Qual sua idade:') )
Verificacao = Idade >= 18

print('Verificação: {}' .format(Verificacao))

In [ ]:
# 7º Exercício
# Hipotenusa de um triângulo retângulo

# Formula = a² + b² = c²

Cateto_Oposto = float(input('Valor do cateto oposto: '))
Cateto_Adjacente = float(input('Valor do cateto adjacente: '))

Hipotenusa = (Cateto_Adjacente ** 2 + Cateto_Oposto ** 2) ** (1/2)
print('O valor da hipotenusa é: {}'.format(Hipotenusa) )

In [ ]:
# 8º Exercício
# Sistema de RH

# Salario inputado pelo usuário
Salario = float( input('Qual seu sálario: '))

# Variaveis de desconto
INSS = 0.11
Vale_Refeicao = 0.02
Vale_Transporte = 0.08
IR = 0.08

# Organizando os dados
Dicionario = { 'INSS': Salario * INSS, 
               'Vale Refeição' : Salario * Vale_Refeicao, 
               'Vale Transporte' : Salario * Vale_Transporte, 
               'Imposto de Renda' : Salario * IR }

# calculando o Debito
Debito = Dicionario['INSS'] + Dicionario['Vale Refeição'] + Dicionario['Vale Transporte'] + Dicionario['Imposto de Renda']
# calculando o valor liquido
Liquido = Salario - Debito

# Mostrando as informações
print('\n')
print('Informações Gerais')
print('*' * 35 )
print( 'Informações sobre os descontos:', Dicionario )
print( 'Desconto Geral:', Debito )
print('*' * 35 )
print('Sálario Liquido será: {}'.format(Liquido) )

In [ ]:
# Plus <<< --- >>> <<< --- >>> <<< --- >>> <<< --- >>>

# Criar um novo Dicionário
Dicionario_02 = Dicionario
# Criar novas posições no Dicionário
Dicionario_02['Valor Descontos Gerais'] = Debito
Dicionario_02['Valor Liquido'] = Liquido
Dicionario_02['Salário'] = Salario

print( Dicionario_02 )

In [ ]:
# Função para criar um DataFrame
from pandas import DataFrame

Base_Dados = DataFrame( Dicionario_02, index=[0] )
Base_Dados