<a href="https://colab.research.google.com/github/Alyssonj/Python/blob/main/MBA_Lista_de_exercicio02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
v1 = str(input('Qual o password?'))
if v1 == 'n18': 
  print('hehe, acesso liberado')
else:
  print('Sai daqui, lixo')

Qual o password?n18
hehe, acesso liberado

In [ ]:
v1 = int(input('Qual seu salário:'))
if v1<1900: 
  print('Seu salário líquido é:',v1*1)
elif v1>1900:
  print('Seu salário líquido é:',v1-(v1*0.075))
elif v1>2800:
  print('Seu salário líquido é:',v1-(v1*0.15)) 
else:
  print('Seu salário líquido é:',v1-(v1*0.22))

Qual seu salário:2000
Seu salário líquido é: 1850.0

In [ ]:
v1 = int(input('Número 1?'))
v2 = int(input('Número 2?'))
if v1>v2: 
  print('Número 1 é maior que o 2')
else:
  print('Número 2 é maior que o 1')

Número 1?4
Número 2?5
Número 2 é maior que o 1

In [ ]:
v1 = int(input('Número 1?'))
if v1<0: 
  print('Número é negativo')
else:
  print('Número é positivo')

Número 1?-2
Número é negativo

In [ ]:
n1 = int(input('Qual seu salario:'))
n2 = int(input('Qual sua nota2:'))
n3 = int(input('Qual sua nota3:'))
nf = ((n1+n2+n3)/3)
if nf<7: 
  print('Reprovado')
elif nf==10:
  print('Aprovado com maestria, parabéns!')
elif nf>=7:
  print('Aprovado!')
else:
  print('Boa!')

Qual sua nota1:7
Qual sua nota2:8
Qual sua nota3:9
Aprovado!

In [ ]:
for Tabuada in range(1,10):
  print(Tabuada)

1
2
3
4
5
6
7
8
9

In [ ]:
Lista = [2,4,6,8,10]
for Aoquadrado in Lista:
  print(Aoquadrado**2)

4
16
36
64
100

In [ ]:
v1 = int(input('N:'))
Lista = [1,2,3,4,5,6,7,8,9,10]
for Tabuada2 in Lista:
  print(v1,'x',Tabuada2,'=',Tabuada2*v1)

N:3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
Lista = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]

for Loop in Lista:

  if ( Loop % 2 ) == 0:
    print(f' Dividi {Loop} por 2 e não houve Resto')

  else:
    print(f' Dividi {Loop} por 2 e o resto foi { Loop % 2}')

 Dividi 1 por 2 e o resto foi 1
 Dividi 2 por 2 e não houve Resto
 Dividi 3 por 2 e o resto foi 1
 Dividi 4 por 2 e não houve Resto
 Dividi 5 por 2 e o resto foi 1
 Dividi 6 por 2 e não houve Resto
 Dividi 7 por 2 e o resto foi 1
 Dividi 8 por 2 e não houve Resto
 Dividi 9 por 2 e o resto foi 1
 Dividi 10 por 2 e não houve Resto

In [ ]:
Lista = [2, 4, 6, 8, 10]

for Contador, Loop in enumerate(Lista):
  print( Contador, Loop )

0 2
1 4
2 6
3 8
4 10

In [ ]:
x = 1
while x < 6:
  print(x)
  x += 1

1
2
3
4
5

In [ ]:
x = 1
while x < 6:
  print(x)
  x += 1

else:
  print('Nãoooooo!')

1
2
3
4
5
Nãoooooo!

In [ ]:
Numero_01 = int(input('Numero_1: '))
Numero_02 = int(input('Numero_2: '))
Numero_03 = int(input('Numero_3: '))
Numero_04 = int(input('Numero_4: '))

def Soma(x, y, z, w):
  Somando = x + y + z + w
  return print( Somando )

Soma(Numero_01, Numero_02, Numero_03, Numero_04 )

Numero_1: 134
Numero_2: 53
Numero_3: 567
Numero_4: 45
799

In [ ]:
Texto = input('Digite Algo: ')

def Ajustar_Texto(x):
  x = x.lower()
  return print( x )

Ajustar_Texto(Texto)

Digite Algo: OLA AMIFGOS
ola amifgos

In [ ]:
Nome = str(input('Nome: '))
Sobrenome = str(input('Sobrenome: '))
Idade = int(input('Idade: '))

def Cadastro(Nome, Sobrenome, Idade):

  Dados = {
      'Nome_Inserido' : Nome,
      'Sobre' : Sobrenome,
      'Idade' : Idade
  }

  return print( Dados)

Cadastro(Nome, Sobrenome, Idade)

Nome: aLYSSON
Sobrenome: jOSE
Idade: 12
{'Nome_Inserido': 'aLYSSON', 'Sobre': 'jOSE', 'Idade': 12}