In [ ]:
import pandas as pd
import os
path='C:/Users/OI336798/Documents/TCC/Dados Anatel/'

In [2]:
arquivos=[]
for x in os.listdir(path):
    if x.endswith('.csv'):
        arquivos.append(path+x)

In [4]:
arquivos[10]

'C:/Users/OI336798/Documents/TCC/Dados Anatel/reclamacoes.csv'

In [5]:
df = pd.read_csv(arquivos[10], delimiter=';', encoding='UTF-8')

In [13]:
df.head(1)

,DataExtracao,SOLICITAÇÕES,Ano,Mês,AnoMês,UF,Cidade,CO_MUNICIPIO,CanalEntrada,Condição,TipoAtendimento,Serviço,Marca,Assunto,Problema
0,2018-04-23,1,2015,1,2015-01,DF,Brasília,5300108,SIC,Reencaminhada,Pedido de Informação,Outros,Outros,NÃO APLICÁVEL,SIC

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15952407 entries, 0 to 15952406
Data columns (total 15 columns):
 #   Column           Dtype
---  ------           -----
 0   DataExtracao     object
 1   SOLICITAÇÕES     int64
 2   Ano              int64
 3   Mês              int64
 4   AnoMês           object
 5   UF               object
 6   Cidade           object
 7   CO_MUNICIPIO     object
 8   CanalEntrada     object
 9   Condição         object
 10  TipoAtendimento  object
 11  Serviço          object
 12  Marca            object
 13  Assunto          object
 14  Problema         object
dtypes: int64(3), object(12)
memory usage: 1.8+ GB

In [62]:
t = df.groupby(by=['Serviço','Problema']).size().reset_index(name="Count")
t.to_clipboard()

In [ ]:
for n in range(len(arquivos)):
    globals()['DATA'+str(n)] = pd.read_csv(arquivos[n], delimiter=';', encoding='UTF-8')

In [52]:
print(DATA12.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5789372 entries, 0 to 5789371
Data columns (total 11 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Ano                         float64
 1   Mês                         float64
 2   razao_social                object
 3   cnpj                        object
 4   velocidade_contratada_mbps  object
 5   uf                          object
 6   municipio                   object
 7   codigo_ibge                 float64
 8   acessos                     float64
 9   tipo                        object
 10  municipio_uf                object
dtypes: float64(4), object(7)
memory usage: 485.9+ MB
None

In [55]:
DATA12.head(100).to_clipboard()